@import url(reset.css);
@import url(common.css);

.top{
    display: flex;
}
.container_top{
    background-color: var(--main-blue);
    height: 50px;
    width: 100%;
}
.geulbox{
    display: flex;
};
.geulbox a{
    color: white;
    font-size: large;
};